@charset "utf-8";
html { font-family:"Helvetica Neue",Helvetica,"San Francisco",  Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 16px; }
body { margin: 0; font-size: 1rem; line-height: 1.5; color: #333; background-color: #fff;  overflow-x: hidden; -webkit-overflow-scrolling: touch; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle;}
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical;}
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html, button, input, select, textarea { font-family:"San Francisco", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; padding:0;}
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: transparent;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.flex{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;-webkit-box-pack: center;}
.red{color:#ff6060;}
.black{color:#333333;}
.gray{color:#bebebe;}

html,body{text-align: center;}
img{max-width: 100%;}
iframe{display:none;}

.g_loading{position: fixed;top:0;left:0;width:100%;height: 100%;z-index: 999;background:url("../img/ajax-loader.gif") no-repeat center center rgba(255,255,255,.5);background-size: 25px 25px;}
.g_alert{max-width:160px;text-align:center;padding:10px;color:#fff;border-radius:5px;background: rgba(0,0,0,0.8);display:block;position: fixed;z-index: 200;bottom:40px;left:50%;font-size:0.75rem;}

/*******************************************Common-style  End***********************************************/

/***********************************************Main Begin***********************************************/
.content{
	width:100%;
	height:100%;
	position:relative;
}
header{
	width:100%;
}
.top{
	width:100%;
	height:60px;
	position:relative;
}
.top .logo{
	height:50px;
	width:50px;
	background:url(../img/logo_mashanglc.png)no-repeat center center;
	background-size:100% 100%;
	position:absolute;
	top:7px;
	left:15px;
}
.top .title{
	font-size:0.9375rem;
	color:#333333;
	font-weight:bold;
	position:absolute;
	top:20px;
	left:75px;
}
.top .open-btn{
	width:50px;
	height:28px;
	font-size:0.9375rem;
	color:#ff6060;
	text-align:center;
	line-height:26px;
	border-radius:4px;
	border:1px solid #ff6060;
	position:absolute;
	top:17px;
	right:20px;
}
header .banner{
	height:210px;
	width:100%;
	margin-top:3px;
	background:url(../img/banner01.png)no-repeat center center;
	background-size:cover;
}
section{
	width:100%;
}
section .tip{
	width:320px;
	height:120px;
	background:url(../img/banner02.png)no-repeat center center;
	background-size:100% 100%;
	margin:27px auto;
}
footer{
	width:100%;
}
footer .download-btn{
	height:55px;
	width:230px;
	background:url(../img/download_btn02.png)no-repeat center center;
	background-size:100% 100%;
	margin:50px auto;
	margin-bottom:26px;
}
footer .bank-icon{
	height:50px;
	width:310px;
	background:url(../img/mashanglc_icon.png)no-repeat center center;
	background-size:100% 100%;
	margin:0 auto;
	margin-bottom:30px;
}

/**********************************************Media query Begin******************************************/

@media screen and (max-width:384px){
	section .tip {width: 315px;height: 115px;}
}

@media screen and (max-width:375px){
	section .tip {height: 110px;width:300px;}
	footer .bank-icon {height: 45px;}
}
@media screen and (max-width:360px){
	header .banner {height: 200px;}
	section .tip {width: 280px;height: 100px;}
	footer .download-btn {height: 50px;width: 200px;margin: 45px auto;margin-bottom: 22px;}
	footer .bank-icon {width:260px;}
}
@media screen and (max-width:320px){
	.top .title {font-size: 0.8125rem;top: 22px;}
	header .banner {height: 180px;}
	section .tip {width: 260px;height: 90px;}
	footer .download-btn {height: 45px;width: 190px;margin: 40px auto;margin-bottom: 20px;}
	footer .bank-icon {width: 250px;height:37px;}
}
/**********************************************Media query End******************************************/



